[submodule "unitree_ros_to_real"]
	path = unitree_ros_to_real
	url = git@github.com:Tipriest/unitree_ros_to_real.git
[submodule "robots/hexapod_description"]
	path = robots/hexapod_description
	url = git@github.com:Tipriest/hexapod_description.git
